
#channel {
    padding: 0;

    .channel__inner {

        .channel__header {
            width: 100%;
            height: 300px;
            position: relative;
            background-position: center;

            .circle {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                top: 150px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 100;
            }
        }
        .channel__info {
            margin-top: 4.5rem;
            text-align: center;

            .title {
                font-weight: 600;
                font-size: 22px;
            }
            .desc {
                margin: 5px 0 0;
                white-space: pre-line;
            }
            .info {
                margin: 1.5rem 0;
                span {
                    font-size: 15px;
                    display: inline-flex;
                    align-items: center;
                    border: 1px solid var(--black300);
                    border-radius: 50px;
                    padding: 8px 20px;
                    margin: 0 5px;
                    background-color: var(--black300);
                    color: var(--white);

                    svg {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .channel__video {
            padding: 3rem;
        }
        .channel__more {}
    }
}